/* Font Definitions */
@font-face {
    font-family: Shabnam;
    src: url('font/Shabnam-FD.woff2') format('woff2'), url('fonts/Shabnam.woff') format('woff');
    font-display: swap;
}

@font-face {
    font-family: Vazir;
    src: url('font/Vazir-FD-WOL.woff2') format('woff2'), url('fonts/Vazir.woff') format('woff');
    font-display: swap;
}

/* Theme Variables */
:root {
    --box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.dark {
    --color1: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);
    --color2: #2e3147;
    --color3: #9e8bea;
    --color4: white;
}

.light {
    --color1: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
    --color2: white;
    --color3: #a53b87;
    --color4: rgb(50, 50, 50);
}

@supports (corner-shape: squircle) {

    .input-container,
    .info-container,
    .info-container button,
    .input-container button,
    .input-container input,
    .info-container button,
    .todo-list-container li,
    .menu {
        corner-shape: squircle;
    }
}

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    font-family: Shabnam, Vazir, sans-serif;
    width: 100%;
    min-height: 100vh;
    background-image: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s;
}

body.shabnam,
body.shabnam button,
body.shabnam input {
    font-family: Shabnam, sans-serif;
}

body.vazir,
body.vazir button,
body.vazir input {
    font-family: Vazir, sans-serif;
}

.container {
    max-width: 500px;
    width: 90%;
    line-height: 1.8;
}

/* Scrollbar Styles */
.todo-list-container {
    margin: 15px 0;
    background-color: transparent;
    overflow-y: auto;
    max-height: 40vh;
    padding: 2px 0;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.todo-list-container::-webkit-scrollbar {
    display: none;
}

/* Input Container */
.input-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.input-container h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 15px;
    color: var(--color4);
}

.input-container div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.input-container input {
    width: 100%;
    height: 35px;
    font-size: 0.95rem;
    padding: 2px 10px;
    border-radius: 20px;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    color: var(--color4);
}

.input-container input:focus {
    outline: none;
}

.input-container input::placeholder {
    color: lightgray;
}

.light .input-container input::placeholder {
    color: gray;
}

.input-container button {
    border: none;
    cursor: pointer;
    height: 35px;
    width: 40px;
    border-radius: 20px;
    background-color: var(--color3);
    color: white;
    transition: transform 0.5s ease;
}

.input-container button:hover {
    transform: translateY(-2px);
}

/* ToDo List */
.todo-list-container li {
    list-style: none;
    margin-top: 15px;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color4);
    white-space: normal;
    overflow-wrap: break-word;
    overflow-x: auto;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.todo-list-container li.completed {
    text-decoration: line-through;
    opacity: 0.7;
}

.todo-list-container li::-webkit-scrollbar {
    display: none;
}

.todo-list-container li:first-child {
    margin-top: 0;
}

.todo-list-container li:hover .task-buttons button {
    visibility: visible;
    opacity: 1;
}

.todo-list-container .task-buttons {
    display: flex;
    gap: 5px;
}

.todo-list-container button {
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--color4);
    visibility: hidden;
    font-size: 1rem;
    opacity: 0;
    transition: opacity 0.2s, visibility 0.2s;
}

/* Info Container */
.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
    direction: rtl;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.info-container p {
    font-size: 1rem;
    color: var(--color4);
}

.info-container span {
    font-weight: bold;
    color: var(--color3);
}

.info-container button {
    border: none;
    cursor: pointer;
    height: 35px;
    width: 80px;
    border-radius: 20px;
    background-color: var(--color3);
    color: white;
    transition: transform 0.5s ease;
}

.info-container button:hover {
    transform: translateY(-2px);
}

/* Settings Menu */
.setting {
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
}

.setting button {
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: var(--color3);
}

.menu {
    margin-top: 30px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out, margin-top 0.2s ease-in-out;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.04);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.menu.active {
    opacity: 1;
    visibility: visible;
    margin-top: 5px;
}

.menu h3 {
    color: var(--color4);
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 15px;
}

.theme-setting {
    margin-bottom: 15px;
}

.menu div {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0.5rem;
    justify-content: right;
    direction: ltr;
}

.menu input[type="radio"] {
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.menu input[type="radio"]:checked+span {
    box-shadow: none;
    background: rgba(255, 255, 255, 0.4);
    z-index: 1;
    color: var(--color4);
}

label span {
    display: block;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    padding: 0.375em 0.75em;
    position: relative;
    color: var(--color4);
    text-align: center;
    transition: background-color 0.5s ease;
}

.light label span {
    box-shadow: none;
}

label:first-child span {
    border-radius: 0.375em 0 0 0.375em;
}

label:last-child span {
    border-radius: 0 0.375em 0.375em 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 95%;
        padding: 10px;
    }

    .input-container h2 {
        font-size: 1.1rem;
    }

    .info-container button {
        width: 80px;
        font-size: 0.7rem;
    }

    .info-container p {
        font-size: 0.85rem;
    }

    .todo-list-container li {
        font-size: 0.8rem;
    }

    .input-container input {
        font-size: 0.8rem;
    }
}